@charset "utf-8";

// YUI用フォントサイズ
$yui-10px: 77%;
$yui-11px: 85%;
$yui-12px: 93%;
$yui-13px: 100%;
$yui-14px: 108%;
$yui-15px: 116%;
$yui-16px: 123.1%;
$yui-17px: 131%;
$yui-18px: 138.5%; 
$yui-19px: 146.5%;
$yui-20px: 153.9%;
$yui-21px: 161.6%;
$yui-22px: 167%;
$yui-23px: 174%;
$yui-24px: 182%;
$yui-25px: 189%;
$yui-26px: 197%;

$fontlist: "メイリオ","Meiryo","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
$font-gothicBBB:"中ゴシックBBB","メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
$font-midashi:"見出ゴMB31","メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
$font-icon:FontAwesome;
$defaultColor: #464238;
$font-mincho:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
$fontMincho:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
@mixin mincyo(){
  font-family: "Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}
$fontMaru: "ヒラギノ丸ゴ Pro W4", "Hiragino maru Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO","メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic","Verdana","Osaka",sans-serif;

$fontImpact:'Impact',"中ゴシックBBB","メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
/* リンクの色 */
$linkColor: #1A5497;
$visitedColor: #00479d;
$hoverColor: #0017ad;
$activeColor: #098db5;


$white:#FFF;
$orange-pale:#fff7d6;
$red-strong:#FF3132;
$red:#d80c18;
$red-pale:#ea6c72;
$red-light:#ff7bac;
$blue:#00b0ec;
$blue-pale:#F2F7FC;
$brown:#824340;
$brown-pale:#CC9A98;
$brown-light:#F5EDEB;
$light-gray:#F2F2F2;



$main-color-A:#00c8ff;//メインの水色
$main-color-B:#f06d9d;//サブメインのピンク
$main-color-C:#0087cc;//濃い青
$main-color-D:#2B2B29;//基本の黒
$main-color-E:#D9F2FC;//フッターの薄い水色
$main-color-F:#fbf424;//サブメインの黄色
$main-color-G:#0ABF7A;//サブメインの緑色（マイスターボタン等）
$main-color-H:#FBF424;//サブメインの黄色（ボタンの文字色等）


@mixin sprite-text {
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
}

@mixin reset {
		margin:0;
		padding:0;
		font-size:$yui-13px;
		color:$defaultColor;
		background:none;
		text-shadow:none;
		line-height:1.5;
}
@mixin justify {
	text-align:justify;
	text-justify: inter-ideograph;
	-ms-text-justify: inter-ideograph;
}

@function half($size) {
	@return #{$size/2}px;
}

%clearfix {
	*zoom: 1;
	&:after {
		content:"";
		display: block;
		clear: both; 
	}
}
@mixin text_indent{
	overflow: hidden;
	text-indent: 120%;
	white-space: nowrap;
}
@mixin clearfix {
	*zoom: 1;
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}


/*----------------------------------------------------
	汎用class
----------------------------------------------------*/


@mixin btn {
	text-align: center;
}


/* ----------------------------------------------------
 
    text
 
---------------------------------------------------- */
.tac {text-align: center ;}
.tar {text-align: right ;}
.tal {text-align: left ;}
 
.bold{font-weight:bold ;}
 
.font9{font-size:9px ;}
.font10{font-size:10px ;}
.font11{font-size:11px ;}
.font12{font-size:12px ;}
.font13{font-size:13px ;}
.font14{font-size:14px ;}
.font15{font-size:15px ;}
.font16{font-size:16px ;}
.font17{font-size:17px ;}
.font18{font-size:18px ;}
.font19{font-size:19px ;}
.font20{font-size:20px ;}
.font21{font-size:21px ;}
.font22{font-size:22px ;}
.font23{font-size:23px ;}
.font24{font-size:24px ;}
 
/* ----------------------------------------------------
 
    margin
 
---------------------------------------------------- */
 
.mt0 { margin-top:  0px ; }
.mt05 { margin-top:  5px ; }
.mt10 { margin-top: 10px ; }
.mt15 { margin-top: 15px ; }
.mt20 { margin-top: 20px ; }
.mt25 { margin-top: 25px ; }
.mt30 { margin-top: 30px ; }
.mt35 { margin-top: 35px ; }
.mt40 { margin-top: 40px ; }
 
.mr0 { margin-right:  0px ; }
.mr05 { margin-right:  5px ; }
.mr03 { margin-right:  5px ; }
.mr10 { margin-right: 10px ; }
.mr15 { margin-right: 15px ; }
.mr20 { margin-right: 20px ; }
.mr25 { margin-right: 25px ; }
.mr30 { margin-right: 30px ; }
.mr35 { margin-right: 35px ; }
.mr40 { margin-right: 40px ; }
 
.mb0 { margin-bottom:  0px ; }
.mb05 { margin-bottom:  5px ; }
.mb10 { margin-bottom: 10px ; }
.mb15 { margin-bottom: 15px ; }
.mb20 { margin-bottom: 20px ; }
.mb25 { margin-bottom: 25px ; }
.mb30 { margin-bottom: 30px ; }
.mb35 { margin-bottom: 35px ; }
.mb40 { margin-bottom: 40px ; }
.mb250 { margin-bottom:250px ; }
.mb180 { margin-bottom:180px ; }
.mb140 { margin-bottom:140px ; }
.mb100 { margin-bottom:100px ; }
 
.ml0 { margin-left:  0px ; }
.ml05 { margin-left:  5px ; }
.ml10 { margin-left: 10px ; }
.ml15 { margin-left: 15px ; }
.ml20 { margin-left: 20px ; }
.ml25 { margin-left: 25px ; }
.ml30 { margin-left: 30px ; }
.ml35 { margin-left: 35px ; }
.ml40 { margin-left: 40px ; }
 
/* ----------------------------------------------------
 
    padding
 
---------------------------------------------------- */
 
.pt0 { padding-top:  0px ; }
.pt05 { padding-top:  5px ; }
.pt10 { padding-top: 10px ; }
.pt15 { padding-top: 15px ; }
.pt20 { padding-top: 20px ; }
.pt25 { padding-top: 25px ; }
.pt30 { padding-top: 30px ; }
.pt35 { padding-top: 35px ; }
.pt40 { padding-top: 40px ; }
 
.pr0 { padding-right:  0px ; }
.pr05 { padding-right:  5px ; }
.pr10 { padding-right: 10px ; }
.pr15 { padding-right: 15px ; }
.pr20 { padding-right: 20px ; }
.pr25 { padding-right: 25px ; }
.pr30 { padding-right: 30px ; }
.pr35 { padding-right: 35px ; }
.pr40 { padding-right: 40px ; }
 
.pb0 { padding-bottom:  0px ; }
.pb05 { padding-bottom:  5px ; }
.pb10 { padding-bottom: 10px ; }
.pb15 { padding-bottom: 15px ; }
.pb20 { padding-bottom: 20px ; }
.pb25 { padding-bottom: 25px ; }
.pb30 { padding-bottom: 30px ; }
.pb35 { padding-bottom: 35px ; }
.pb40 { padding-bottom: 40px ; }
.pb50 { padding-bottom: 50px ; }
.pb60 { padding-bottom: 60px ; }
 
.pl0 { padding-left:  0px ; }
.pl05 { padding-left:  5px ; }
.pl10 { padding-left: 10px ; }
.pl15 { padding-left: 15px ; }
.pl20 { padding-left: 20px ; }
.pl25 { padding-left: 25px ; }
.pl30 { padding-left: 30px ; }
.pl35 { padding-left: 35px ; }
.pl40 { padding-left: 40px ; }

.pc_none_block{//PCのみで表示のblock要素
	display:none;
}
.pc_none_inline{//PCのみで表示のinline(-block)要素
	display:none;
}
.sp_none_block{//スマホのみで表示のblock要素
	display:block;
}
.sp_none_inline{//スマホのみで表示のinline(-block)要素
	display:inline-block;
}
@media screen and (max-width: 766px){
	.pc_none_block{
		display:block;
	}
	.pc_none_inline{
		display:inline-block;
	}
	
	.sp_none_block{
		display:none;
	}
	.sp_none_inline{
		display:none;
	}
}